* {
	-webkit-user-select: none;
	box-sizing: border-box; /* adds border to inside */
}
body {
	margin: 0px;
	font-family: Arial;
}
canvas {
	display: block;
}
canvas, i.material-icons, input, .swatch {
	cursor: pointer;
}
#toolbar {
	width: 100%;
	padding: 10px;
	position: fixed;
	top: 0;
	background-color: #333;
	color: #ccc;
}
#radVal {
	display: inline;
}
#colors, .swatch {
	/*float: right !important;*/
	/*display: inline !important;*/
	/*clear: right;*/

}
.swatch {
	border-radius: 50%;
	/*box-shadow: inset 0px 3px 0px rgba(255, 255, 255, 0.5),*/
	0px 2px 1px rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}
.swatch:hover {
	border: 2px solid #fff;
	box-shadow: none;
}
.swatch.active {
	border: 2px solid #fff;
	box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.5);
}
i.material-icons {
	color: #666;
	background-color: #eee;
	border-radius: 50%;
	padding: 3px;
}
i.material-icons:hover {
	background-color: #666;
	color: #eee;
}
#buttons {
	float: right !important;
	margin-left: 5px;
}
.swatch {
	width: 25px;
	height: 25px;
}
#showToolbarBtn, #showMoreBtn {
	position: fixed;
	bottom: 5px;
	background-color: #fff;
}
#showToolbarBtn:hover, #showMoreBtn:hover {
	background-color: #ccc;
	color: #333;
}
#showToolbarBtn {
	left: 5px;
}
#showMoreBtn {
	right: 5px;
}
#moreDiv {
	position: fixed;
	bottom: 40px;
	right: 5px;
}
div {
	display: inline;
}
#paletteBtn {
	margin-left: 10px;
}
#hiddenFile {
	display:none;
}

@media(max-width: 480px), (max-height: 480px) {
}
@media print {
	#toolbar {
		display: none;
	}
}